.title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  color: rgb(6, 78, 233);
  font-weight: 600;
}

.types {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  margin-bottom: 30px;
  border-radius: 20px;
  background-color: rgb(191, 201, 211);
  cursor: pointer;
}

#img-tag {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: transform 0.2s; /* Animation */
  overflow: hidden;
}

.card-pack :hover {
  border-radius: 20px;
  background-color: rgb(197, 214, 230);
}

.card-pack :hover img {
  transform: scale(1.5) !important;
}
